<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/photo/<%= photo._id%>?_method=PUT" method="POST">
            owner: <select name="photographerId">
        <% for (let i = 0; i < photographer.length; i++) {%>
          <option value="<%=photographer[i]._id%>"><%=photographer[i].photographer.name%>
          </option>

          <%}%>
        </select><br/>
        <input type="text" name="subject" value="<%=photo.subject%>">
        <input type="number" name="url" value="<%=photo.url%>">
        <input type="submit">
    </form>
</body>
</html>