<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<a href="/">GO SUPER HOME</a>
<a href="/photo/new">MAKE A NEW photo</a>
    <% photosOnTheTemplate.forEach((photo)=>{ %>
        <li>
            <a href="/photo/<%=photo._id%>"><%=photo.name%></a>
            <p>This is a photo of<%=photo.subject%> called <%=photo.title%> by <%=photographer.name%></p>
            <form action="/photo/<%=photo._id%>?_method=DELETE" method="POST">
                <button>DELETE</button>
            </form>
        </li>
    <% }) %>
</body>
</html>