<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<a href="/">GO HOME</a>
<a href="/photographer">Go back to photographers Index</a>
    <h1>Here is an enslaver of souls named <%= photographer.name %></h1>
    <ul>
        <h2>Here are <%=photographer.name%>'s photos</h2>
        <% for (let i = 0; i < photographerOnTheTemplate.cats.length; i++) {%>
        <li><a href="/cats/<%=photographerOnTheTemplate.cats[i]._id%>"><%=photographer.photo[i].name%></a></li>
        <%}%>
    </ul>
    <a href="/photographers/<%=photographer._id%>/edit">CHANGE THIS photographer</a>
</body>
</html>