<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1> Edit Photo Information: </h1>
    <form action = "/photos/<%=photoOnTheTemplate._id%>?_method=PUT" method = "POST">

        User: <select name="userId">
        <% for (let i = 0; i < usersOnTemplate.length; i++) {%>
          <option value="<%=usersOnTemplate[i]._id%>"><%=usersOnTemplate[i].username%>
          </option>
          <%}%>
          </select><br/>
          <input type = "text" name = "title" value = "<%=photoOnTheTemplate.title%>">
            <input type = "text" name = "url" value = "<%=photoOnTheTemplate.url%>">
            <input type = "text" name = "caption" value = "<%=photoOnTheTemplate.caption%>">
            <input type = "date" name = "date" value = "<%=photoOnTheTemplate.date%>">
            <button type = "submit">Submit Changes</button>
    </form>
</body>
</html>