<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include ../partials/partial %>
    
    <title>New Photo</title>
</head>
<body>


    <h1>Edit Photo</h1>
    <form action="/photos/<%=photo._id%>?_method=PUT" method="POST">
        By: <select name="userId">
        <% for (let i = 0; i < user.length; i++){%>
            <option value="<%=user[i]._id%>"><%=user[i].username%></option>
        <%}%>
        Title: <input type="text" name="title" value="<%=photo.title%>">
        Caption: <input type="text" name="caption" value="<%=photo.caption%>">
        URL: <input type="text" name="url" value="<%=photo.url%>">
        Date Captured: <input type="Date" name="date">
        <button type="submit">Edit Photo</button>
    </form>
    
     <form action="/photos/<%=photo._id%>?_method=DELETE" method="POST">
        <button>DELETE</button>
    </form>


</body>
</html>