<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Photo Index</title>
</head>
<body>
<a href="/">Home</a>
    <h1>Every Single Photo; You Already Know Tho</h1>
    <form action="/photos/new" method="GET">
    <button type="submit">New Photo</button>
    </form>
    <% photo.forEach((photo)=>{ %>
        <li>
            <a href="/photos/<%=photo._id%>"><%=photo.title%></a>
            <p>
            <%=photo.caption%><br>
            <img src= "<%=photo.url%>">
            
            </p>
            <form action="/photos/<%=photo._id%>?_method=DELETE" method="POST">
                <button>DELETE</button>
            </form>
        </li>
    <% }) %>
</body>
</html>