<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<a href="/">HOME</a>
<a href="/photos">PHOTO LIBRARY</a>
    <h1>Title: <%= photoOnTheTemplate.title %></h1>
    <img src="<%=photoOnTheTemplate.url%>"></br>
    <h2>By: <%=user.username%></h2></br>
     <%=photoOnTheTemplate.caption%></br>
    <small><%=photoOnTheTemplate.date%></small>

    <a href="/photos/<%=photoOnTheTemplate._id%>/edit">Edit Photo Information</a>
</body>
</html>