<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% include ../partials/nav.ejs %>


    <div class="imageShow">
      <h6><%=image.location%></h6>
      <img src="<%=image.url%>" alt="Image-Does-Not-Exist">
      <div class="likes">
        LIKES [<%=image.likes%>]
      </div>
      <h4>Posted By: <a href="/users/<%=user._id%>"><%=user.name%></a></h4>
    </div>
    <div class="imageCaption">
      <h3><%=image.caption%></h3>
    </div>
    <div class="datePosted">
      <h6>POSTED: <%=image.datePosted%></h6>
    </div>


    <form action="/photos/<%=image._id%>?_method=delete" method="post">
      <button type="submit">DELETE PHOTO</button>
    </form>
    <form action="/photos/<%=image._id%>/edit" method="get">
      <button type="submit">EDIT PHOTO</button>
    </form>









    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
