<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <% include ../partials/partial %>

    <title>Show User</title>
</head>
<body>

    <h1><%= user.username %>'s Photos</h1>
   
    <% for (i = 0; i < user.photos.length; i++){%>
    <p>
    <a href="/photos/<%=user.photos[i]._id%>"><%=user.photos[i].title%></a>
    </p>
     <%}%>

    <form action="/users/<%=user._id%>/edit" method="GET">
        <button type="submit">Edit User</button>
    </form>

     <form action="/users/<%=user._id%>?_method=DELETE" method="POST">
        <button>DELETE</button>
    </form>
</body>
</html>