<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>

	<h1><%= user.username %></h1>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/photos">Photos</a>
                    <a class="dropdown-item" href="/photos/new">Add New Photo</a>
              </div>
	<a href="/users/<%= user.id %>/edit">Edit My Info</a>

		<ul>
                <% for (let i = 0; i < user.photos.length; i++) { %>
                        <a href="/photos/<%= user.photos[i]._id %>"><img src="<%= user.photos[i].url %>"></a>
                <% } %>
		</ul>

	<form method="POST" action="/users/<%= user.id %>?_method=DELETE">
	<input type="submit" value="Delete My Info">
	</form>
</body>
</html> 





