<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Show User Page</title>
</head>
  <div class="container-fluid">
    <div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">PhotoBlog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Users
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/users">View All Users</a>
                <a class="dropdown-item" href="/users/new">Create New User</a>
                <%# <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">No Other Actions...</a> %>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Photos
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/photos">View All Photos</a>
                <a class="dropdown-item" href="/photos/new">Create New Photo</a>
                <%# <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">No Other Actions...</a> %>
              </div>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </div>
    <%# <div class="jumbotron jumbotron-fluid"> %>
      <h1 class="display-4">Show User Page</h1>
      <p class="lead">This is the profile page for the User!</p>
    <%# </div> %> 
    <p>
      Hello! My name is <%= user.name%> and I am <%=user.age%> years old.<br/>
      Below, you can find some links to my photos: <br/>
      <ul>
        <% for (let i = 0; i < user.photos.length; i++) { %>
          <li><a href="/photos/<%=user.photos[i]._id%>"><%=user.photos[i].title%></a></li>
        <% } %>
      </ul>
    Profile Image:<br/><img src='<%=user.profileImage%>'>
    </p>
    <div class="btn-group" role="group" aria-label="Basic example">
      <form action="/users/<%=user._id%>/edit" method="GET">
        <button class="btn btn-warning btn-lg" type="submit">Edit</button>
      </form>
      <form action="/users/<%=user._id%>?_method=DELETE" method="POST">
        <button class="btn btn-danger btn-lg" type="submit">Delete</button>
      </form>
    </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>